In [308]:
import pandas as pd
import numpy as np

In [301]:
dfmain = pd.read_csv('soccer17.csv', index_col = False, usecols =['Div','Y','HomeTeam','AwayTeam','FTHG','FTAG'])

# Question 1A

In [302]:
epl_17 = dfmain.loc[(dfmain['Div'] == 'EPL') & (dfmain['Y'] == 17)]
epl_17['GD'] = epl_17['FTHG'] - epl_17['FTAG']

<ipython-input-302-e22d6ae8c2ea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_17['GD'] = epl_17['FTHG'] - epl_17['FTAG']

In [303]:
df = pd.DataFrame({'GamesPlayed': (epl_17.groupby('HomeTeam').size() + epl_17.groupby('AwayTeam').size())}).reset_index()
df = df.rename(columns={'HomeTeam': 'Team'})

In [304]:
gd = np.empty(len(df))
w = np.empty(len(df))
d = np.empty(len(df))
for i in range(len(df)):
    team = df.Team.iat[i]
    gs = epl_17.loc[epl_17.HomeTeam == team, 'FTHG'].sum() + epl_17.loc[epl_17.AwayTeam == team, 'FTAG'].sum()
    gc = epl_17.loc[epl_17.HomeTeam == team, 'FTAG'].sum() + epl_17.loc[epl_17.AwayTeam == team, 'FTHG'].sum()
    wins = len(epl_17.loc[(epl_17.HomeTeam == team) & (epl_17.GD > 0)]) \
    + len(epl_17.loc[(epl_17.AwayTeam == team) & (epl_17.GD < 0)])
    draws = len(epl_17.loc[(epl_17.HomeTeam == team) & (epl_17.GD == 0)]) \
    + len(epl_17.loc[(epl_17.AwayTeam == team) & (epl_17.GD == 0)])
    gd[i] = gs-gc
    w[i] = wins
    d[i] = draws
df['AverageGD'] = gd/df['GamesPlayed']
df['Wins'] = w
df['Draws'] = d
df['Losses'] = df['GamesPlayed'] - df['Wins'] - df['Draws']
df = df.sort_values(by=['AverageGD'], ascending = False)
df

              Team  GamesPlayed  AverageGD  Wins  Draws  Losses
10        Man City           38   2.078947  32.0    4.0     2.0
9        Liverpool           38   1.210526  21.0   12.0     5.0
11      Man United           38   1.052632  25.0    6.0     7.0
16       Tottenham           38   1.000000  23.0    8.0     7.0
4          Chelsea           38   0.631579  21.0    7.0    10.0
0          Arsenal           38   0.605263  19.0    6.0    13.0
3          Burnley           38  -0.078947  14.0   12.0    12.0
8        Leicester           38  -0.105263  12.0   11.0    15.0
12       Newcastle           38  -0.210526  12.0    8.0    18.0
5   Crystal Palace           38  -0.263158  11.0   11.0    16.0
6          Everton           38  -0.368421  13.0   10.0    15.0
1      Bournemouth           38  -0.421053  11.0   11.0    16.0
13     Southampton           38  -0.500000   7.0   15.0    16.0
2         Brighton           38  -0.526316   9.0   13.0    16.0
17         Watford           38  -0.526316  11.0    8.0    19.0
19        West Ham           38  -0.526316  10.0   12.0    16.0
18       West Brom           38  -0.657895   6.0   13.0    19.0
15         Swansea           38  -0.736842   8.0    9.0    21.0
7     Huddersfield           38  -0.789474   9.0   10.0    19.0
14           Stoke           38  -0.868421   7.0   12.0    19.0

# Question 1B

In [305]:
df['Points'] = 3*df['Wins'] + 1*df['Draws']
df = df.sort_values(by=['Points'], ascending = False)
df

              Team  GamesPlayed  AverageGD  Wins  Draws  Losses  Points
10        Man City           38   2.078947  32.0    4.0     2.0   100.0
11      Man United           38   1.052632  25.0    6.0     7.0    81.0
16       Tottenham           38   1.000000  23.0    8.0     7.0    77.0
9        Liverpool           38   1.210526  21.0   12.0     5.0    75.0
4          Chelsea           38   0.631579  21.0    7.0    10.0    70.0
0          Arsenal           38   0.605263  19.0    6.0    13.0    63.0
3          Burnley           38  -0.078947  14.0   12.0    12.0    54.0
6          Everton           38  -0.368421  13.0   10.0    15.0    49.0
8        Leicester           38  -0.105263  12.0   11.0    15.0    47.0
12       Newcastle           38  -0.210526  12.0    8.0    18.0    44.0
5   Crystal Palace           38  -0.263158  11.0   11.0    16.0    44.0
1      Bournemouth           38  -0.421053  11.0   11.0    16.0    44.0
19        West Ham           38  -0.526316  10.0   12.0    16.0    42.0
17         Watford           38  -0.526316  11.0    8.0    19.0    41.0
2         Brighton           38  -0.526316   9.0   13.0    16.0    40.0
7     Huddersfield           38  -0.789474   9.0   10.0    19.0    37.0
13     Southampton           38  -0.500000   7.0   15.0    16.0    36.0
15         Swansea           38  -0.736842   8.0    9.0    21.0    33.0
14           Stoke           38  -0.868421   7.0   12.0    19.0    33.0
18       West Brom           38  -0.657895   6.0   13.0    19.0    31.0

# Question 1C

In [306]:
dfmain = dfmain.loc[(dfmain['Y'] == 17)]
dfmain['GD'] = dfmain['FTHG'] - dfmain['FTAG']
df2 = pd.DataFrame({'GamesPlayed': (dfmain.groupby(['Div', 'HomeTeam']).size()
                                    + dfmain.groupby(['Div', 'AwayTeam']).size())}).reset_index()
df2 = df2.rename(columns={'HomeTeam': 'Team'})
gd = np.empty(len(df2))
w = np.empty(len(df2))
d = np.empty(len(df2))
for i in range(len(df2)):
    team = df2.Team.iat[i]
    gs = dfmain.loc[dfmain.HomeTeam == team, 'FTHG'].sum() + dfmain.loc[dfmain.AwayTeam == team, 'FTAG'].sum()
    gc = dfmain.loc[dfmain.HomeTeam == team, 'FTAG'].sum() + dfmain.loc[dfmain.AwayTeam == team, 'FTHG'].sum()
    wins = len(dfmain.loc[(dfmain.HomeTeam == team) & (dfmain.GD > 0)]) \
    + len(dfmain.loc[(dfmain.AwayTeam == team) & (dfmain.GD < 0)])
    draws = len(dfmain.loc[(dfmain.HomeTeam == team) & (dfmain.GD == 0)]) \
    + len(dfmain.loc[(dfmain.AwayTeam == team) & (dfmain.GD == 0)])
    gd[i] = gs-gc
    w[i] = wins
    d[i] = draws
df2['AverageGD'] = gd/df2['GamesPlayed']
df2['Wins'] = w
df2['Draws'] = d
df2['Losses'] = df2['GamesPlayed'] - df2['Wins'] - df2['Draws']
df2['Points'] = 3*df2['Wins'] + 1*df2['Draws']
df2 = df2.sort_values(by=['AverageGD'], ascending = False)

In [307]:
df2 = df2.groupby('Div').head(3)
df2 = df2.sort_values(by=['Div','AverageGD'], ascending = (True, False))
df2

,Div,Team,GamesPlayed,AverageGD,Wins,Draws,Losses,Points
1,Bundesliga,Bayern Munich,34,1.882353,27.0,3.0,4.0,84.0
9,Bundesliga,Hoffenheim,34,0.529412,15.0,10.0,9.0,55.0
2,Bundesliga,Dortmund,34,0.500000,15.0,10.0,9.0,55.0
28,EPL,Man City,38,2.078947,32.0,4.0,2.0,100.0
27,EPL,Liverpool,38,1.210526,21.0,12.0,5.0,75.0
29,EPL,Man United,38,1.052632,25.0,6.0,7.0,81.0
41,La_Liga,Barcelona,38,1.842105,28.0,9.0,1.0,93.0
53,La_Liga,Real Madrid,38,1.315789,22.0,10.0,6.0,76.0
40,La_Liga,Ath Madrid,38,0.947368,23.0,10.0,5.0,79.0
72,Ligue_1,Paris SG,38,2.078947,29.0,6.0,3.0,93.0
65,Ligue_1,Lyon,38,1.157895,23.0,9.0,6.0,78.0
68,Ligue_1,Monaco,38,1.052632,24.0,8.0,6.0,80.0
87,Serie_A,Juventus,38,1.631579,30.0,5.0,3.0,95.0
90,Serie_A,Napoli,38,1.263158,28.0,7.0,3.0,91.0
88,Serie_A,Lazio,38,1.052632,21.0,9.0,8.0,72.0